<div class='mt-4'>
    <h3>Đăng khóa học</h3>

    <form method='POST' action='/courses/store'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên khóa học</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Miêu tả</label>
            <input type='text' class='form-control' id='description' name='description' />
        </div>

        <div class='mb-3'>
            <label for='videoId' class='form-label'>Video ID</label>
            <input type='text' class='form-control' id='videoId' name='videoId' />
        </div>

        <div class='mb-3'>
            <label for='image' class='form-label'>IMG Link</label>
            <input type='text' class='form-control' id='image' name='image' />
        </div>

        <div class='mb-3'>
            <label for='numbers_studied' class='form-label'>Số người đã học</label>
            <input type='text' class='form-control' id='numbers_studied' name='numbers_studied' />
        </div>

        <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
    </form>
</div>