<div class='mt-4'>
    <form method='post' action=''>
        <div class='mb-3'>
            <label for='exampleInputEmail1' class='form-label'>Nhập từ khóa</label>
            <input
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                placeholder='Nhập từ khóa'
                name='q'
            />
        </div>

        <div class='mb-3'>
            <label for='exampleInputGender' class='form-label'>Nhập từ khóa</label>
            <select name='gender' class='form-select' aria-label='Default select example'>
                <option value=''>-- Chọn giới tính --</option>
                <option value='male'>Nam</option>
                <option value='female'>Nữ</option>
                <option value='other'>Khác</option>
            </select>
        </div>

        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>